data/knowledge/archived/1767167345128_04_queue_flow.json
{
    "name": "04 - Queue Flow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "queue-flow",
                "responseMode": "lastNode"
            },
            "id": "webhook-queue",
            "name": "Queue Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT queue_eligible FROM services WHERE id = '{{ $json.service_id }}';"
            },
            "id": "check-eligible",
            "name": "Check Eligibility",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.3,
            "position": [
                460,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "SUPABASE_CRED_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "conditions": [
                        {
                            "leftValue": "={{ $json.queue_eligible }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "is-eligible",
            "name": "Is Eligible?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "return {...$('Queue Webhook').first().json, response_message: 'Este serviço precisa de agendamento prévio. 📅\\n\\nQuer que eu procure horários disponíveis?'};"
            },
            "id": "not-eligible",
            "name": "Not Eligible Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT add_to_queue('{{ $json.contact_id }}'::uuid, '{{ $json.conversation_id }}'::uuid, '{{ $json.service_id }}') as result;"
            },
            "id": "add-queue",
            "name": "Add to Queue",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.3,
            "position": [
                900,
                400
            ],
            "credentials": {
                "postgres": {
                    "id": "SUPABASE_CRED_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const r=JSON.parse($input.first().json.result);\nif(!r.success)return{response_message:r.error};\nreturn{response_message:'Entendi! Você quer atendimento agora. 👍\\n\\n📍 Posição: #'+r.position+'\\n⏰ Espera estimada: ~'+r.eta_minutes+' minutos\\n\\nSua vez vale por 2 horas. Te aviso quando chegar! 🔔'};"
            },
            "id": "format-queue",
            "name": "Format Queue Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v18.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $('Queue Webhook').first().json.phone }}\",\"type\":\"text\",\"text\":{\"body\":\"{{ $json.response_message }}\"}}"
            },
            "id": "send-wa",
            "name": "Send WA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1340,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "WA_AUTH_CRED_ID",
                    "name": "WhatsApp Token"
                }
            }
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": "public",
                "table": "agent_logs",
                "columns": "event_type, conversation_id, workflow_name, success"
            },
            "id": "log-queue",
            "name": "Log Queue",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.3,
            "position": [
                1560,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "SUPABASE_CRED_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        }
    ],
    "connections": {
        "Queue Webhook": {
            "main": [
                [
                    {
                        "node": "Check Eligibility",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Eligibility": {
            "main": [
                [
                    {
                        "node": "Is Eligible?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Eligible?": {
            "main": [
                [
                    {
                        "node": "Add to Queue",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Not Eligible Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Add to Queue": {
            "main": [
                [
                    {
                        "node": "Format Queue Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Queue Response": {
            "main": [
                [
                    {
                        "node": "Send WA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Not Eligible Response": {
            "main": [
                [
                    {
                        "node": "Send WA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WA": {
            "main": [
                [
                    {
                        "node": "Log Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}