data/knowledge/archived/1767167332884_02_intent_classifier.json
{
    "name": "02 - Intent Classifier",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "intent-classifier",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-intent",
            "name": "Intent Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "webhookId": "intent-classifier"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT \n  c.summary,\n  c.current_intent,\n  c.loop_count,\n  ct.name as contact_name,\n  ct.preferences,\n  ct.total_appointments,\n  (SELECT content FROM messages WHERE conversation_id = c.id ORDER BY created_at DESC LIMIT 5) as recent_messages\nFROM conversations c\nJOIN contacts ct ON c.contact_id = ct.id\nWHERE c.id = '{{ $json.conversation_id }}'::uuid;",
                "options": {}
            },
            "id": "get-context",
            "name": "Get Conversation Context",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.3,
            "position": [
                460,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "SUPABASE_CRED_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Build LLM prompt\nconst input = $input.first().json;\nconst context = $('Get Conversation Context').first().json;\n\nconst systemPrompt = `Você é um classificador de intenções para o salão de beleza Haven.\n\nServiços disponíveis:\n- cabelo: escova_lisa, escova_modelada, hidratacao_ozonio, penteado, trancas\n- unhas: manicure, pedicure, gel_maos_pes\n- make: maquiagem\n\nClassifique a mensagem do cliente em uma das seguintes intenções:\n- greeting: saudação inicial\n- booking: quer agendar um horário\n- queue: quer entrar na fila para atendimento imediato/hoje\n- cancel: quer cancelar um agendamento\n- info: quer informações (preços, horários, localização)\n- handoff: quer falar com humano, reclamação, sentimento muito negativo\n- checkin: confirmando chegada na fila\n- other: não se encaixa em nenhuma categoria\n\nRetorne APENAS um JSON válido no formato:\n{\n  \"intent\": \"<intent>\",\n  \"service_id\": \"<service_id ou unknown>\",\n  \"urgency\": <true/false>,\n  \"date\": \"<YYYY-MM-DD ou null>\",\n  \"time\": \"<HH:MM ou null>\",\n  \"period\": \"<manha/tarde/noite ou null>\",\n  \"staff_pref\": \"<nome ou null>\",\n  \"confidence\": <0.0-1.0>\n}`;\n\nconst userMessage = `Contexto da conversa:\n- Nome do cliente: ${context.contact_name || 'Desconhecido'}\n- Total de visitas: ${context.total_appointments || 0}\n- Última intenção: ${context.current_intent || 'nenhuma'}\n- Resumo: ${context.summary || 'Nova conversa'}\n\nMensagem atual do cliente:\n\"${input.message}\"\n\nClassifique:`;\n\nreturn {\n  ...input,\n  context,\n  llm_prompt: {\n    system: systemPrompt,\n    user: userMessage\n  }\n};"
            },
            "id": "build-prompt",
            "name": "Build LLM Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.LLM_API_URL }}/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"{{ $env.LLM_MODEL || 'gpt-4o-mini' }}\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.llm_prompt.system) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.llm_prompt.user) }}\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}",
                "options": {}
            },
            "id": "call-llm",
            "name": "Call LLM",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "LLM_AUTH_CRED_ID",
                    "name": "OpenAI API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse LLM response and validate\nconst input = $input.first().json;\nconst llmResponse = input.choices[0].message.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(llmResponse);\n} catch (e) {\n  parsed = {\n    intent: 'other',\n    service_id: 'unknown',\n    urgency: false,\n    date: null,\n    time: null,\n    period: null,\n    staff_pref: null,\n    confidence: 0.5\n  };\n}\n\n// Validate intent\nconst validIntents = ['greeting', 'booking', 'queue', 'cancel', 'info', 'handoff', 'checkin', 'other'];\nif (!validIntents.includes(parsed.intent)) {\n  parsed.intent = 'other';\n  parsed.confidence = 0.5;\n}\n\n// Check confidence threshold\nif (parsed.confidence < 0.6) {\n  parsed.needs_clarification = true;\n}\n\n// Check for handoff triggers\nconst handoffKeywords = ['reclamação', 'problema', 'insatisfeito', 'devolver', 'reembolso', 'advogado', 'procon', 'denúncia', 'processo'];\nconst lowerMessage = $('Build LLM Prompt').first().json.message.toLowerCase();\nfor (const keyword of handoffKeywords) {\n  if (lowerMessage.includes(keyword)) {\n    parsed.intent = 'handoff';\n    parsed.handoff_trigger = 'keyword';\n    break;\n  }\n}\n\n// Check explicit handoff request\nconst explicitHandoff = ['falar com humano', 'atendente', 'pessoa real', 'gerente'];\nfor (const phrase of explicitHandoff) {\n  if (lowerMessage.includes(phrase)) {\n    parsed.intent = 'handoff';\n    parsed.handoff_trigger = 'explicit';\n    break;\n  }\n}\n\n// Calculate tokens used\nconst tokensUsed = input.usage?.total_tokens || 0;\n\nreturn {\n  ...$('Build LLM Prompt').first().json,\n  ...parsed,\n  tokens_used: tokensUsed,\n  raw_llm_response: llmResponse\n};"
            },
            "id": "parse-response",
            "name": "Parse LLM Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE conversations SET \n  current_intent = '{{ $json.intent }}',\n  loop_count = CASE \n    WHEN current_intent = '{{ $json.intent }}' THEN loop_count + 1 \n    ELSE 0 \n  END,\n  updated_at = NOW()\nWHERE id = '{{ $json.conversation_id }}'::uuid\nRETURNING loop_count;",
                "options": {}
            },
            "id": "update-conversation",
            "name": "Update Conversation Intent",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.3,
            "position": [
                1340,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "SUPABASE_CRED_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE messages SET \n  intent_detected = '{{ $json.intent }}',\n  confidence = {{ $json.confidence }},\n  metadata = '{{ JSON.stringify({ service_id: $json.service_id, urgency: $json.urgency, tokens: $json.tokens_used }) }}'::jsonb\nWHERE conversation_id = '{{ $json.conversation_id }}'::uuid\nORDER BY created_at DESC\nLIMIT 1;",
                "options": {}
            },
            "id": "update-message",
            "name": "Update Message Intent",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.3,
            "position": [
                1560,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "SUPABASE_CRED_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "loop-check",
                            "leftValue": "={{ $('Update Conversation Intent').first().json.loop_count }}",
                            "rightValue": 5,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-loop",
            "name": "Check Loop Count",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1780,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Force handoff due to loop\nreturn {\n  ...$input.first().json,\n  intent: 'handoff',\n  handoff_trigger: 'loop',\n  original_intent: $input.first().json.intent\n};"
            },
            "id": "force-handoff",
            "name": "Force Handoff",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2000,
                200
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": "public",
                "table": "agent_logs",
                "columns": "event_type, conversation_id, contact_id, workflow_name, node_name, input_data, output_data, tokens_used, model_used, success",
                "options": {}
            },
            "id": "log-classification",
            "name": "Log Classification",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.3,
            "position": [
                2000,
                400
            ],
            "credentials": {
                "postgres": {
                    "id": "SUPABASE_CRED_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Prepare final output\nconst input = $input.first().json;\n\nreturn {\n  intent: input.intent,\n  service_id: input.service_id,\n  urgency: input.urgency,\n  date: input.date,\n  time: input.time,\n  period: input.period,\n  staff_pref: input.staff_pref,\n  confidence: input.confidence,\n  needs_clarification: input.needs_clarification || false,\n  handoff_trigger: input.handoff_trigger || null,\n  conversation_id: input.conversation_id,\n  contact_id: input.contact_id,\n  phone: input.phone,\n  message: input.message,\n  contact_name: input.context?.contact_name || null\n};"
            },
            "id": "prepare-output",
            "name": "Prepare Output",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2220,
                300
            ]
        }
    ],
    "connections": {
        "Intent Webhook": {
            "main": [
                [
                    {
                        "node": "Get Conversation Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Conversation Context": {
            "main": [
                [
                    {
                        "node": "Build LLM Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build LLM Prompt": {
            "main": [
                [
                    {
                        "node": "Call LLM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call LLM": {
            "main": [
                [
                    {
                        "node": "Parse LLM Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse LLM Response": {
            "main": [
                [
                    {
                        "node": "Update Conversation Intent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Conversation Intent": {
            "main": [
                [
                    {
                        "node": "Update Message Intent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Message Intent": {
            "main": [
                [
                    {
                        "node": "Check Loop Count",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Loop Count": {
            "main": [
                [
                    {
                        "node": "Force Handoff",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log Classification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Force Handoff": {
            "main": [
                [
                    {
                        "node": "Prepare Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Classification": {
            "main": [
                [
                    {
                        "node": "Prepare Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {
        "instanceId": "haven-agendaops"
    },
    "tags": [
        {
            "name": "haven",
            "createdAt": "2024-01-01T00:00:00.000Z",
            "updatedAt": "2024-01-01T00:00:00.000Z"
        }
    ]
}